<table class="game-board">
	<tr>
		<td colspan="6" rowspan="6">{{getFreeTokens(0)}}</td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="9" rowspan="6">{{getFreeTokens(1)}}</td>
	</tr>
	<tr>
		<td></td>
		<td class="green-spot"></td>
		<td class="green-spot"></td>
	</tr>
	<tr>
		<td class="star-spot"></td>
		<td class="green-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td class="green-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td class="green-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td class="green-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td class="red-spot">{{getLocationInfo(0)}}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="3" rowspan="3" class="goal-spot">
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td class="star-spot"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td class="red-spot"></td>
		<td class="red-spot"></td>
		<td class="red-spot"></td>
		<td class="red-spot"></td>
		<td class="red-spot"></td>
		<td class="yellow-spot"></td>
		<td class="yellow-spot"></td>
		<td class="yellow-spot"></td>
		<td class="yellow-spot"></td>
		<td class="yellow-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td class="star-spot"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class="yellow-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="6" rowspan="6">{{getFreeTokens(3)}}</td>
		<td></td>
		<td class="blue-spot"></td>
		<td></td>
		<td colspan="9" rowspan="6">{{getFreeTokens(2)}}</td>
	</tr>
	<tr>
		<td></td>
		<td class="blue-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td class="blue-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td class="blue-spot"></td>
		<td class="star-spot"></td>
	</tr>
	<tr>
		<td class="blue-spot"></td>
		<td class="blue-spot"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<div>
  Player : {{getTokenIndexToSymbol(playerRoleNow)}}
  <br>
  Steps : {{lastSep}}
  <br>
  <button (click)="dice()">Dice</button>
</div>